<template class="config-modal">
    <div class="modal fade tmpw-config" tabindex="-1" role="dialog" aria-labelledby="tmpw-config">
        <div class="modal-dialog modal-lg" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title" id="tmpw-config">TMPresenzeWeb - Configuration</h4>
                </div>
                <div class="modal-body">
                    <table>
                        <tr>
                            <td><label for="tmpw-config-notification-ahead" class="control-label">Notification ahead minutes</label></td>
                            <td><input type="number" class="form-control" id="tmpw-config-notification-ahead" placeholder="minutes"></td>
                        </tr>
                    </table>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                </div>
            </div>
        </div>
    </div>
</template>

<template class="config-button">
    <li><a href="#" class="count-info"><i class="fa fa-cog icon-dummy" data-toggle="modal" data-target=".tmpw-config" aria-hidden="true"></i></a></li>
</template>

<template class="label-plus-minus">
    <span class="label" data-toggle="tmpw-popover" data-trigger="hover" data-placement="bottom">init</span>
</template>

<template class="label-minutes-left">
    <span class="label" data-toggle="tmpw-popover" data-trigger="hover" data-placement="bottom">init</span>
</template>

<template class="label-meal-voucher">
    <span class="label pull-right" style="display: none;"><i class="icon-food" aria-hidden="true"></i> Buono pasto</span>
</template>