<template class="config-modal">
    <div class="modal fade tmpw-config" tabindex="-1" role="dialog" aria-labelledby="tmpw-config">
        <div class="modal-dialog modal-lg" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title"><i class="fa fa-fw fa-cogs" aria-hidden="true"></i> TMPresenzeWeb - Configuration</h4>
                </div>
                <div class="modal-body">
                    <h5><i class="fa fa-fw fa-commenting-o" aria-hidden="true"></i> Notifiche</h5>
                    <table class="table table-last-td-right">
                        <tr>
                            <td><label class="control-label no-margin"><input type="checkbox" v-model="notify.mealVoucher.enabled" v-on:change="change"> <span
                                    v-bind:class="{ bold: notify.mealVoucher.enabled, lighter: !notify.mealVoucher.enabled }">Buono pasto (giornata di 7.00)</span></label></td>
                            <td>
                                <span class="text-right">
                                    <i class="fa" aria-hidden="true" v-bind:class="{ 'fa-bolt': notify.mealVoucher.enabled }"></i>
                                </span>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                Timeout <i class="fa fa-question-circle-o" aria-hidden="true" data-toggle="tooltip" data-placement="right"
                                           title="Minuti di visualizzazione del pop-up. 0 (zero) significa che sarà sempre visibile"></i></td>
                            <td>
                                <input type="number" class="form-control input-sm no-margin" placeholder="minuti" v-model.number="notify.mealVoucher.timeout" v-bind:disabled="!notify.mealVoucher.enabled"
                                       v-on:change="change">
                        </tr>
                        <tr>
                            <td>
                                Anticipa <i class="fa fa-question-circle-o" aria-hidden="true" data-toggle="tooltip" data-placement="right"
                                            title="Quanti minuti prima del goal il pop-up deve essere mostrato"></i>
                            </td>
                            <td>
                                <input type="number" class="form-control input-sm no-margin" placeholder="minuti" v-model.number="notify.mealVoucher.minutesAhead" v-bind:disabled="!notify.mealVoucher.enabled"
                                       v-on:change="change">
                            </td>
                        </tr>
                        <tr>
                            <td><label class="control-label no-margin"><input type="checkbox" v-model="notify.plus.enabled" v-on:change="change"> <span
                                    v-bind:class="{ bold: notify.plus.enabled, lighter: !notify.plus.enabled }">Plus (giornata di 7.12)</span></label></td>
                            <td>
                                <span class="text-right">
                                    <i class="fa" aria-hidden="true" v-bind:class="{ 'fa-bolt': notify.plus.enabled }"></i>
                                </span>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                Timeout <i class="fa fa-question-circle-o" aria-hidden="true" data-toggle="tooltip" data-placement="right"
                                           title="Minuti di visualizzazione del pop-up. 0 (zero) significa che sarà sempre visibile"></i></td>
                            <td>
                                <input type="number" class="form-control input-sm no-margin" placeholder="minuti" v-model.number="notify.plus.timeout" v-bind:disabled="!notify.plus.enabled"
                                       v-on:change="change">
                        </tr>
                        <tr>
                            <td>
                                Anticipa <i class="fa fa-question-circle-o" aria-hidden="true" data-toggle="tooltip" data-placement="right"
                                            title="Quanti minuti prima del goal il pop-up deve essere mostrato"></i>
                            </td>
                            <td>
                                <input type="number" class="form-control input-sm no-margin" placeholder="minuti" v-model.number="notify.plus.minutesAhead" v-bind:disabled="!notify.plus.enabled"
                                       v-on:change="change">
                            </td>
                        </tr>
                        <tr>
                            <td><label class="control-label no-margin"><input type="checkbox" v-model="notify.endDay.enabled" v-on:change="change"> <span
                                    v-bind:class="{ bold: notify.endDay.enabled, lighter: !notify.endDay.enabled }">Giornata completa (giornata di 9.15)</span></label></td>
                            <td>
                                <span class="text-right">
                                    <i class="fa" aria-hidden="true" v-bind:class="{ 'fa-bolt': notify.endDay.enabled }"></i>
                                </span>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                Timeout <i class="fa fa-question-circle-o" aria-hidden="true" data-toggle="tooltip" data-placement="right"
                                           title="Minuti di visualizzazione del pop-up. 0 (zero) significa che sarà sempre visibile"></i></td>
                            <td>
                                <input type="number" class="form-control input-sm no-margin" placeholder="minuti" v-model.number="notify.endDay.timeout" v-bind:disabled="!notify.endDay.enabled"
                                       v-on:change="change">
                        </tr>
                        <tr>
                            <td>
                                Anticipa <i class="fa fa-question-circle-o" aria-hidden="true" data-toggle="tooltip" data-placement="right"
                                            title="Quanti minuti prima del goal il pop-up deve essere mostrato"></i>
                            </td>
                            <td>
                                <input type="number" class="form-control input-sm no-margin" placeholder="minuti" v-model.number="notify.endDay.minutesAhead" v-bind:disabled="!notify.endDay.enabled"
                                       v-on:change="change">
                            </td>
                        </tr>
                    </table>
                    <h5><i class="fa fa-fw fa-hourglass-half" aria-hidden="true"></i> Countdown</h5>
                    <table class="table table-last-td-right">
                        <tr>
                            <td><label class="control-label no-margin"><input type="checkbox" v-model="countdown.mealVoucher" v-on:change="change"> <span
                                    v-bind:class="{ bold: countdown.mealVoucher, lighter: !countdown.mealVoucher }">Buono pasto: (giornata di 7.00)</span></label></td>
                            <td>
                                <span class="text-right">
                                    <i class="fa" aria-hidden="true" v-bind:class="{ 'fa-bolt': countdown.mealVoucher }"></i>
                                </span>
                            </td>
                        </tr>
                        <tr>
                            <td><label class="control-label no-margin"><input type="checkbox" v-model="countdown.plus" v-on:change="change"> <span
                                    v-bind:class="{ bold: countdown.plus, lighter: !countdown.plus }">Plus: (giornata di 7.12)</span></label></td>
                            <td>
                                <span class="text-right">
                                    <i class="fa" aria-hidden="true" v-bind:class="{ 'fa-bolt': countdown.plus }"></i>
                                </span>
                            </td>
                        </tr>
                        <tr>
                            <td><label class="control-label no-margin"><input type="checkbox" v-model="countdown.endDay" v-on:change="change"> <span
                                    v-bind:class="{ bold: countdown.endDay, lighter: !countdown.endDay }">Giornata completa: (giornata di 9.15)</span></label></td>
                            <td>
                                <span class="text-right">
                                    <i class="fa" aria-hidden="true" v-bind:class="{ 'fa-bolt': countdown.endDay }"></i>
                                </span>
                            </td>
                        </tr>
                    </table>
                    <h5><i class="fa fa-fw fa-cog" aria-hidden="true"></i> General</h5>
                    <table class="table table-last-td-right">
                        <tr>
                            <td>
                                <label class="control-label no-margin"><input type="checkbox" v-model="sessionKeepAlive" v-on:change="change">
                                    <span v-bind:class="{ bold: sessionKeepAlive, lighter: !sessionKeepAlive }">
                                    Session keepalive
                                    </span>
                                    <i class="fa fa-question-circle-o" aria-hidden="true" data-toggle="tooltip" data-placement="right"
                                       title="Evita il timeout della sessione che costringe a rieffettuare il login"></i>
                                </label>
                            </td>
                            <td>
                                <span class="text-right">
                                    <i class="fa" aria-hidden="true" v-bind:class="{ 'fa-bolt': sessionKeepAlive }"></i>
                                </span>
                            </td>
                        </tr>
                    </table>
                </div>
                <div class="modal-footer">
                    <span class="pull-left">
                        <i class="fa fa-fw fa-github-alt" aria-hidden="true"></i> <a href="https://github.com/elbowz/TMPresenzeWeb" target="_blank">TMPresenzeWeb v{{ GMInfo.script.version }}</a>, written by {{ GMInfo.script.author }}
                    </span>
                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                </div>
            </div>
        </div>
    </div>
</template>

<template class="config-button">
    <li><a href="javascript:void(0)" class="count-info"><i class="fa fa-cog icon-dummy" data-toggle="modal" data-target=".tmpw-config" aria-hidden="true"></i></a></li>
</template>

<template class="label-plus-minus">
    <span class="label" data-toggle="tmpw-popover" data-trigger="hover" data-placement="bottom">init</span>
</template>

<template class="label-minutes-left">
    <span class="label" data-toggle="tmpw-popover" data-trigger="hover" data-placement="bottom">init</span>
</template>

<template class="label-meal-voucher">
    <span class="label label-success pull-right" style="display: none;"><i class="icon-food" aria-hidden="true"></i> Buono pasto</span>
</template>

<template class="label-count-meal-voucher">
    <span class="label label-success"><i class="icon-food" aria-hidden="true"></i> <span>init</span><small>/init</small> Buoni pasto</span></span>
</template>

<template class="label-count-anomalies">
    <span class="label"><i class="icon-exclamation-sign" aria-hidden="true"></i> <span>init</span> Anomalie</span>
</template>

<template class="countdown-meal-voucher">
    <div class="row-fluid flex-center" v-if="countdown.mealVoucher">
        <div class="span2 text-center">
            <img src="https://raw.githubusercontent.com/elbowz/TMPresenzeWeb/master/assets/img/icon-meal-voucher.png" data-toggle="tmpw-popover" data-trigger="hover"
                 data-content="<strong>Buono pasto:</strong> (7.00)"/></div>
        <div class="span10">
            <div class="tmpw-countdown-meal-voucher no-margin"/>
        </div>
    </div>
</template>

<template class="countdown-plus">
    <div class="row-fluid flex-center" v-if="countdown.plus">
        <div class="span2 text-center">
            <img src="https://raw.githubusercontent.com/elbowz/TMPresenzeWeb/master/assets/img/icon-timer.png" data-toggle="tmpw-popover" data-trigger="hover"
                 data-content="<strong>Plus:</strong> fine della giornata (7.12)"/></div>
        <div class="span10">
            <div class="tmpw-countdown-plus no-margin"/>
        </div>
    </div>
</template>

<template class="countdown-end-day">
    <div class="row-fluid flex-center" v-if="countdown.endDay">
        <div class="span2 text-center">
            <img src="https://raw.githubusercontent.com/elbowz/TMPresenzeWeb/master/assets/img/icon-run.png" data-toggle="tmpw-popover" data-trigger="hover"
                 data-content="<strong>Completa:</strong> massimo ore giornaliere (9.15)"/></div>
        <div class="span10">
            <div class="tmpw-countdown-end-day no-margin"/>
        </div>
    </div>
</template>