/* Utils */
.bold {
    font-weight: bold !important;
}

.normal {
    font-weight: normal !important;
}

.lighter {
    font-weight: lighter !important;
}

.no-margin {
    margin: 0 !important;
}

.no-padding {
    margin: 0 !important;
}

.flex-center {
    display: flex;
    align-items: center;
}

/* General */
table.table th, table.table td {
    vertical-align: middle !important;
}

table.table-last-td-right tr > td:last-child {
    text-align: right;
}

label > input[type="checkbox"] {
    margin-top: -1px;
}

.modal-body {
    padding-top: 0;
    padding-bottom: 0;
}

.modal.fade.in {
    top: 10% !important;
}

/* Coutdown widget */
span.flip-clock-label {
    display: none;
}

.tmpw-countdown-plus, .tmpw-countdown-end-day {
    width: 487px !important;
    transform-origin: left center;
}
